/* nav section start */

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 130px;
  background-color: rgb(51, 240, 240);
}
.nav-container a {
  text-decoration: none;
  color: #3c354f;
}
.nav-logo-img-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav-logo-img-container img {
  width: 80px;
  height: 35px;
}

.G {
  color: #ff42a5;
}
.nav-about-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav-about-container p,
a {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.nav-about-dev-container {
  padding-left: 30px;
  display: flex;
  gap: 20px;
}
.nav-follow-container {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 180px;
  height: 56px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.nav-follow-container a {
  padding-left: 20px;
}

/* nav section end */

/* banner section start */
.banner-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  width: 900px;
  height: 700px;
}
.banner-description {
  width: 50%;
  text-align: justify;
  padding-left: 100px;
}
.play {
  font-weight: 600;
  font-size: 40px;
}
.goat {
  font-weight: 800;
  font-size: 75px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-description p {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}
.button-container{
  margin-top: 30px;
}
.btn-sign-in {
  background-color: #ff42a5;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 160px;
  height: 60px;
  border-radius: 40px;
  padding: 20px 40px;
  border: none;
}
.btn-go-rough{
  background-color: #4EC5F7;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  width: 180px;
  height: 60px;
  border-radius: 40px;
  border: none;
  margin-left: 30px;
  padding: 20px 40px;
}
.banner-image {
  width: 50%;
}
.banner-image img {
  width: 100%;
}
/* banner section end */











/* media query start */

/* small device */

@media screen and (max-width: 576px) {
  /* nav section start */

  .nav-container {
    flex-direction: column;
    height: 300px;
    align-items: center;
  }
  .nav-about-container {
    flex-direction: column;
  }
  .nav-about-dev-container {
    flex-direction: column;
    gap: 2px;
  }
  .nav-follow-container {
    margin-bottom: 20px;
  }
  /* nav section end */
  /* banner section start */
  .banner-container{
    flex-direction: column-reverse;
    width: 100%;
    margin-top: 200px;
  }
  .banner-description{
    margin-top: 50px;
    width: 100%;
    padding: 0px;
    text-align: justify;
    
  }
  .banner-image{
    width: 100%;
  }
  .button-container > .btn-sign-in, .btn-go-rough{
    width: auto;
    height: auto;
  }
}

/* medium device */

@media screen and (min-width: 576px) and (max-width: 892px) {
  .nav-container {
    flex-direction: column;
  }
  /* banner section */
  .banner-container{
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
  }
}
